<div class="trendyol-top-bar d-none d-lg-block">
    <div class="container-fluid px-xl-5 text-right">
        <a href="/Discount/Index/">İndirim Kuponlarım</a>
        <a href="/About/Index/">Hakkımızda</a>
        <a href="/Contact/Index/">Yardım & Destek</a>
    </div>
</div>