@model List<ResultAboutDto>

<!-- Light Gray Section -->
<footer class="trendyol-footer">
    <div class="container-fluid px-xl-5">
        <div class="row">
            <!-- ÇarşıPazar Column -->
            <div class="col-lg-2">
                <h5>ÇarşıPazar</h5>
                <ul>
                    <li><a href="/About/Index/">Biz Kimiz</a></li>
                    <li><a href="/Info/Career/">Kariyer</a></li>
                    <li><a href="/Contact/Index/">İletişim</a></li>
                    <li><a href="/Info/Security/">ÇarşıPazar'da Güvenlik</a></li>
                </ul>
            </div>

            <!-- Kampanyalar Column -->
            <div class="col-lg-2">
                <h5>Kampanyalar</h5>
                <ul>
                    <li><a href="/Campaign/Index/">Aktif Kampanyalar</a></li>
                    <li><a href="/Campaign/Credit/">Alışveriş Kredisi</a></li>
                    <li><a href="/Campaign/Elite/">Elit Üyelik</a></li>
                    <li><a href="/Campaign/Gift/">Hediye Fikirleri</a></li>
                </ul>
            </div>

            <!-- Satıcı Column -->
            <div class="col-lg-2">
                <h5>Satıcı</h5>
                <ul>
                    <li><a href="/Seller/BecomeSeller/">Satış Yap</a></li>
                    <li><a href="/Seller/Concepts/">Temel Kavramlar</a></li>
                    <li><a href="/Seller/Training/">Eğitimler</a></li>
                </ul>
            </div>

            <!-- Yardım Column -->
            <div class="col-lg-2">
                <h5>Yardım</h5>
                <ul>
                    <li><a href="/Help/Faq/">Sıkça Sorulan Sorular</a></li>
                    <li><a href="/Help/LiveSupport/">Canlı Yardım</a></li>
                    <li><a href="/Help/Refund/">Nasıl İade Edebilirim</a></li>
                    <li><a href="/Help/Guide/">İşlem Rehberi</a></li>
                </ul>
            </div>

            <!-- Right Column: Country, Payments, Security -->
            <div class="col-lg-4">
                <div class="footer-right-column">
                    <div>
                        <h5>Ülke Değiştir</h5>
                        <div class="country-selector">
                            <span><i class="fas fa-flag mr-2"></i> Türkiye</span>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                    <div>
                        <h5>Güvenli Alışveriş</h5>
                        <div class="payment-methods">
                            <img referrerpolicy="no-referrer" src="https://img.icons8.com/color/72/mastercard.png" alt="Mastercard" style="width: 45px; background: white; padding: 4px; border: 1px solid #ddd; border-radius: 4px;">
                            <img referrerpolicy="no-referrer" src="https://img.icons8.com/color/72/visa.png" alt="Visa" style="width: 45px; background: white; padding: 4px; border: 1px solid #ddd; border-radius: 4px;">
                            <img referrerpolicy="no-referrer" src="/images/troy.png" alt="Troy" style="width: 45px; background: white; padding: 4px; border: 1px solid #ddd; border-radius: 4px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Black Bottom Bar -->
<div class="trendyol-bottom-bar">
    <div class="container-fluid px-xl-5">
        <div class="row align-items-center">
            <!-- Socials -->
            <div class="col-lg-6">
                <div class="bottom-socials">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <!-- App Store Links -->
            <div class="col-lg-6 text-right">
                <div class="app-links">
                    <a href="#"><img referrerpolicy="no-referrer" src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Download_on_the_App_Store_Badge.svg" alt="App Store" style="height: 38px;"></a>
                    <a href="#"><img referrerpolicy="no-referrer" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Google Play" style="height: 38px; margin-left: 10px;"></a>
                </div>
            </div>
        </div>

        <!-- Copyright Bar -->
        <div class="copyright-bar">
            <span>©2026 ÇarşıPazar Grup Danışmanlık İletişim ve Satış Tic. A.Ş. Her Hakkı Saklıdır.</span>
            <div>
                <a href="#">Çerez Tercihleri</a>
                <a href="#">Kullanım Koşulları</a>
                <a href="#">Kişisel Verilerin Korunması</a>
            </div>
        </div>
    </div>
</div>
